{% extends 'base.html' %}
{% block body %}
<h1>Diploma Courses</h1>
<i><p align="center">In addition to degree courses, the College also offers following complementary Diploma Courses recognized by North Maharashtra University. The student can pursue these courses in residual hours. These courses strengthen regular academic programmes.
College offers Following Diploma Courses. These are affiliated to North Maharashtra University. These are career oriented soft skills development courses. Students can enroll for these courses simultaneously with their Degree Course.</p></i>
<h1>Faculty of Commerce & Management:</h1>
<br>
<p >Diploma Course in Computer Application.</p>
<p >Diploma Course in Import-Export Management</p>
<p >Diploma Course in Printing Management.</p>

{% endblock body%}