{% extends 'base.html' %}
{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <strong>
            <li class="breadcrumb-item active" aria-current="page">Faculty</li>
        </strong>
    </ol>
</nav>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="2">Faculty Teachers</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"></th>
        <th>Faculty of Arts</th>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Jacob</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td colspan="2">Larry</td>
    </tr>
    <tr>
        <th scope="row"></th>
        <th>Faculty of Commerce</th>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Jacob</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td colspan="2">Larry</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <th>Faculty of Science</th>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2">Larry</td>
    </tr>

    </tbody>
</table>
{% endblock body %}